<ion-content text-center padding>

    <ion-list *ngIf='spotifyService.data.topTracks'>
        <ion-list-header>Top Artists</ion-list-header>
        <ion-item *ngFor="let track of spotifyService.data.topTracks" text-wrap>
            <ion-thumbnail>
                <img src="{{ track.album.images[2].url }}">
            </ion-thumbnail>
            <ion-label>
              {{ track.name }}<br>
              <ion-text color="medium">{{ track.firstArtist.name }}</ion-text>

            </ion-label>
            <!--<ion-text *ngIf="artist.nextEvent" style="font-size:.7rem">-->
            <!--{{ artist.nextEvent.displayName}}-->
            <!--</ion-text>-->
            <a *ngIf="track.firstArtist.nextEvent" style="font-size:.7rem" href="{{track.firstArtist.nextEvent.uri}}" target="_system">
                <!--{{ artist.nextEvent.venue.displayName}}-->
                {{ track.firstArtist.nextEvent.venue.metroArea.displayName}}
                {{ track.firstArtist.nextEvent.start.date | date:'M/d/yy' }}
            </a>

        </ion-item>
    </ion-list>

</ion-content>
