<ion-content text-center padding>

    <ion-list *ngIf='spotifyService.data.topTracks'>
        <ion-list-header>Top Artists</ion-list-header>
        <ion-item *ngFor="let track of spotifyService.data.topTracks" text-wrap>
            <ion-thumbnail>
                <img src="{{ track.album.images[2].url }}">
            </ion-thumbnail>
            <ion-label>
              {{ track.name }}<br>
              <ion-text color="medium">{{ track.firstArtist.name }}</ion-text>

            </ion-label>
            <!--<ion-text *ngIf="artist.nextEvent" style="font-size:.7rem">-->
            <!--{{ artist.nextEvent.displayName}}-->
            <!--</ion-text>-->

            <ion-chip  *ngFor="let event of spotifyService.withinDistance(track.firstArtist.events) | slice:0:3" color="tertiary">
                <a class="event-link" href="{{ event.uri }}" target="_system">
                    <!--{{ artist.nextEvent.venue.displayName}}-->
                    {{ event.venue.metroArea.displayName}}
                    {{ event.start.date | date:'M/d/yy' }}
                    ({{ spotifyService.calculateDistance(event.venue.lat, event.venue.lng)  }} mi)
                </a>
            </ion-chip>

        </ion-item>
    </ion-list>

</ion-content>
