<ion-content text-center padding>

    <event-map [reloadSubject]="viewEnter"></event-map>
    <event-chip></event-chip>
    <ion-list *ngIf='spotifyService.data.topArtists'>
        <ion-list-header>Top Artists</ion-list-header>
        <ion-item *ngFor="let artist of spotifyService.data.topArtists" text-wrap>
            <ion-grid>
                <ion-row>
                    <ion-col col-3 col-sm-12>
                        <ion-thumbnail>
                            <img [src]="artist.images[2].url">
                        </ion-thumbnail>

                        <ion-label>
                            {{ artist.name }}
                        </ion-label>
                    </ion-col>
                    <ion-col col-3 col-sm-12>
                       <!--<ion-text *ngIf="artist.nextEvent" style="font-size:.7rem">-->
                       <!--{{ artist.nextEvent.displayName}}-->
                       <!--</ion-text>-->
                       <event-chip
                               *ngFor="let event of spotifyService.withinDistance(artist.events) | slice:0:3"
                               [event]="event"
                       >
                       </event-chip>
                    </ion-col>
                </ion-row>
            </ion-grid>



        </ion-item>
    </ion-list>

</ion-content>
