<ion-content text-center padding>

    <ion-list *ngIf='spotifyService.data.topArtists'>
        <ion-list-header>Top Artists</ion-list-header>
        <ion-item *ngFor="let artist of spotifyService.data.topArtists" text-wrap>
            <ion-thumbnail>
                <img src="{{ artist.images[2].url }}">
            </ion-thumbnail>
            <ion-label>
                {{ artist.name }}

            </ion-label>
            <!--<ion-text *ngIf="artist.nextEvent" style="font-size:.7rem">-->
            <!--{{ artist.nextEvent.displayName}}-->
            <!--</ion-text>-->
            <a *ngIf="artist.nextEvent" style="font-size:.7rem" href="{{artist.nextEvent.uri}}" target="_system">
                <!--{{ artist.nextEvent.venue.displayName}}-->
                {{ artist.nextEvent.venue.metroArea.displayName}}
                {{ artist.nextEvent.start.date | date:'M/d/yy' }}
            </a>

        </ion-item>
    </ion-list>

</ion-content>
