.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.spotify-logo {
  max-height:90%;
  margin-right:5%;
}


.user-image {
  max-height: 30px;
  border-radius: 50%;
  position: absolute;
  right: 152px;
  top: 8px;

}

.log-in-out {
    right: 0;
  top: 0;
  position: absolute;
}
