<ion-app>
<ion-header>
    <ion-toolbar>
        <ion-title>
            MF
        </ion-title>

        <!--todo: fix placement for phone-->
         <ion-item *ngIf='spotifyService.data.user' id="search-radius">
            <ion-label>Search Radius</ion-label>

             <ion-select  [(ngModel)]="spotifyService.searchRadius" style="margin-left:-4px;">
              <ion-select-option *ngFor="let val of spotifyService.searchRadii" value="{{ val }}" [selected]="val == spotifyService.searchRadius">{{ val }}</ion-select-option>
            </ion-select>

         </ion-item>
        <span class="log-in-out">
            <img *ngIf='spotifyService.data.user' class='user-image' src="{{ spotifyService.data.user.firstImage.url }}">

            <ion-button *ngIf='!spotifyService.access_token' (click)="spotifyService.authorize()">
                <img class='spotify-logo' src="assets/spotify-icons-logos/spotify-icons-logos/icons/01_RGB/02_PNG/Spotify_Icon_RGB_White.png">
                Log in
            </ion-button>

            <ion-button *ngIf='spotifyService.access_token' (click)="spotifyService.logOut()">
                <img class='spotify-logo' src="assets/spotify-icons-logos/spotify-icons-logos/icons/01_RGB/02_PNG/Spotify_Icon_RGB_White.png">
                Log Out
            </ion-button>
        </span>
    </ion-toolbar>
</ion-header>


    <ion-router-outlet></ion-router-outlet>
</ion-app>
