// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';


.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.spotify-logo {
  max-height:90%;
  margin-right:5%;
}


.user-image {
  max-height: 30px;
  border-radius: 50%;
  position: absolute;
  right: 152px;
  top: 8px;

}

.log-in-out {
    right: 0;
  top: 0;
  position: absolute;
}


.event-link {
  font-size:.7rem;
  color:black;
}
